 
  #footerinicio {
    background-image: linear-gradient(to top, rgb(88, 86, 90), white);
  }
  footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  
footer {
    background-color: #ccc;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
footer img {
    max-width: 100%;
    height: auto;
  }
 