 
  #footerinicio {
    background-image: linear-gradient(to top, rgb(88, 86, 90), white);
  
  }

  footer {
    background-color: #ccc;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

 