main {
    padding: 20px;
    flex: 1;
  }

  main li{
    font-weight: bold;
  }

  main p {
    margin-bottom: 20px;
  }
  
  #titular {
    text-align: center;
  }
  
  .container img.text-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }